microservices/migrations/logs/

# Dependencies
/node_modules
client/node_modules
microservices/node_modules
microservices/gateway/node_modules
microservices/services/admin-service/node_modules
microservices/services/auth-service/node_modules
microservices/shared/node_modules
microservices/load-tests/node_modules
microservices/tests/node_modules


# Build output
/dist
client/dist

# Environment variables

# Logs
/logs
/mapserver/logs
/microservices/gateway/logs
/microservices/migrations/logs
/microservices/services/admin-service/logs
*.log

# IDE specific
.vscode/
.idea/

# OS specific
.DS_Store